.pager
  %li.previous
    = link_to '<< Devices List', devices_path

.well
  %legend.row-fluid
    .pull-left
      %h2
        Editing
        = device_name(@device)
    .pull-right
      = link_to 'Delete', @device, method: :delete, confirm: 'Are you sure?', class: 'btn btn-medium btn-warning'

  .row-fluid
    = render 'form'
