.row-fluid
  .pull-left
    %h2 Listing Devices
  .pull-right
    %a.btn.btn-primary{href: new_device_path}
      %i.icon-plus.icon-white
      Add Device

%legend

- if @devices.empty?
  .no_device
    There are no devices in the database at the moment. Go to
    = link_to 'create page', new_device_path
    to add a device.
- else
  = render 'devices/list'
