.well.sidebar-nav
  %ul.nav.nav-list
    %li.nav-header Sidebar
    = sidebar_entries
    %li.nav-header Sidebar
    %li
      %a{:href => "#"} Link
    %li
      %a{:href => "#"} Link
    %li
      %a{:href => "#"} Link
    %li
      %a{:href => "#"} Link
    %li
      %a{:href => "#"} Link
    %li
      %a{:href => "#"} Link
    %li.nav-header Sidebar
    %li
      %a{:href => "#"} Link
    %li
      %a{:href => "#"} Link
    %li
      %a{:href => "#"} Link
/ /.well
