.well.sidebar-nav
  %ul.nav.nav-list
    %li.nav-header Sidebar
    %li.nav-header Sidebar
    %li
      = link_to 'Add Device', new_device_path
    %li
      = link_to 'Search Devices', '#'
    %li
      = link_to 'List Devices', devices_path
    %li.nav-header Sidebar
    %li
      %a{:href => "#"} Link
    %li
      %a{:href => "#"} Link
    %li
      %a{:href => "#"} Link
    %li
      %a{:href => "#"} Link
    %li
      %a{:href => "#"} Link
    %li
      %a{:href => "#"} Link
    %li.nav-header Sidebar
    %li
      %a{:href => "#"} Link
    %li
      %a{:href => "#"} Link
    %li
      %a{:href => "#"} Link
/ /.well
