.well.accessory-form-inline
  = f.select  :accessory_type, Accessory::AccessoryTypes, placeholder: 'Accessory Type'
  = f.text_field :manufacturer, placeholder: 'Manufacturer'
  = f.text_field :description, placeholder: 'Comments'
  .pull-right
    = f.check_box '_destroy', rel: 'tooltip', title: 'Mark for deletion'
    %span.label.label-warning Remove
